    <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
      <div class="container-fluid">
        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Brand -->
        <a target="_new" class="navbar-brand pt-0" href="https://bee2bee-admin.oktapreview.com/admin/dashboard">
          <img src="/public/images/logo.png" class="navbar-brand-img" alt="...">
        </a>
        <!-- User -->
        <ul class="nav align-items-center d-md-none">
          <li class="nav-item dropdown">
            <a class="nav-link nav-link-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="ni ni-bell-55"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right" aria-labelledby="navbar-default_dropdown_1">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
          <!-- Form -->
          <form class="mt-4 mb-3 d-md-none">
            <div class="input-group input-group-rounded input-group-merge">
              <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search" aria-label="Search">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <span class="fa fa-search"></span>
                </div>
              </div>
            </div>
          </form>
          {{#if user}}
          <!-- Navigation -->
          <ul class="navbar-nav">
            <li class="nav-item  class=" active" ">
            <a class=" nav-link active " href="/dashboard"> <i class="ni ni-tv-2 text-primary"></i> Dashboard </a>
            <li class="nav-item">
              <a class="nav-link" href="/users/me">
                <i class="ni ni-circle-08 text-red"></i>My profile
              </a>
            </li>
            {{#if user.invitor}}
            <li class="nav-item">
              <a class="nav-link" href="/invite">
                <i class="ni ni-send text-red"></i> Invite user
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users">
                <i class="ni ni-bullet-list-67 text-red"></i> Manage users
              </a>
            </li>
            {{/if}}
            <li class="nav-item">
              <a class="nav-link" href="/logs">
                <i class="fas fa-history text-red"></i>Your account events
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tokens">
                <i class="fas fa-universal-access text-red"></i> Your tokens
              </a>
            </li>
          </ul>
          <!-- Divider -->
          <hr class="my-3">
          <!-- Heading -->
          <h6 class="navbar-heading text-muted">Need help?</h6>
          <!-- Navigation -->
          <ul class="navbar-nav mb-md-3">
            <li class="nav-item">
              <a class="nav-link" href="https://developer.okta.com/docs/">
                <i class="ni ni-spaceship"></i> Getting started
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://developer.okta.com/docs/reference/">
                <i class="ni ni-chat-round"></i> API reference
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">
                <i class="fas fa-sign-out-alt"></i>logout
              </a>
            </li>
          </ul>
          {{else}}
            <ul class="navbar-nav">
            <li class="nav-item  class=" active" ">
            <a class=" nav-link active " href="/dashboard"><i class="fas
            fa-sign-in-alt text-primary"></i> Login </a>
            </li>
            </ul>
          {{/if}}
        </div>
      </div>
    </nav>