	<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
		<div class="container-fluid">
            <div class="row">
{{#each applinks}}
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col-auto">
                      <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                        <img width="30px" src="https://partner.microsoft.com/-/media/mssc/mpn/partner/solutions/images/simplehero_sideimage_400x225_office365.ashx">
                      </div>
                    </div>
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">App</h5>
                      <span class="h2 font-weight-bold mb-0"><a target="_new" href="{{this.link}}">{{this.title}}</a></span>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-nowrap">corperate</span>
                  </p>
                </div>
              </div>
            </div>
{{/each}}
            </div>
          </div>
        </div>
