      <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
          <div class="header-body">
            <!-- Card stats -->
            <div id="con_dashboard" class="row">
				<div class="table-responsive">
				    <div>
				    <table class="table align-items-center">
				        <thead class="thead-light">
				            <tr>
				                <th scope="col">
				                    Homepage
				                </th>
				            </tr>
				        </thead>
				        <tbody class="list">
				            <tr>
				                <th scope="row" class="name">
				                    <div class="media align-items-center">
				                        <div class="media-body">
				                            <span class="mb-0 text-sm">Welcome to the Atkoinc B2B portal</span>
				                        </div>
				                    </div>
				                </th>
				            </tr> 
				            <tr>
				              <td>
				              	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
				              </td>
				            </tr>           
				        </tbody>
				    </table>
				</div>
			</div>
          </div>      
        </div>
      </div>
