    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
			<div class="alert alert-success" role="alert">
			    <strong>Success!</strong> Your invitation to {{invite.profile.firstName}} ({{invite.profile.email}}) is {{inviteStatus}}.
			</div>
		</div>
	</div>