      <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
          <div class="header-body">
            <!-- Card stats -->
            <div id="con_dashboard" class="row">
				<div class="table-responsive">
				    <div>
				    <table class="table align-items-center">
				        <thead class="alert-danger">
				            <tr class="alert-danger">
				                <th scope="col">
				                    Access Denied
				                </th>
				            </tr>
				        </thead>
				        <tbody class="list">
				            <tr>
				                <th scope="row" class="name">
				                    <div class="media align-items-center">
				                        <div class="media-body">
				                            <span class="mb-0 text-sm">Your
				                            account is not authorized to access
				                            this service.</span>
				                        </div>
				                    </div>
				                </th>
				            </tr>    
				        </tbody>
				    </table>
				</div>
			</div>
          </div>      
        </div>
      </div>
