body {
  margin: 0;
  font-family: Open Sans, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #525f7f;
  text-align: left;
  background-color: #008200;
}

.bg-gradient-primary {
  background: linear-gradient(87deg, #ad0000 0, #ad0000 100%) !important;
}

.navbar {
  left: 0;
  border-width: 0 1px 0 0;
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 202px;
  padding: 1rem 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  overflow-y: auto;
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15) !important;
  background-color: #fff !important;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.container-fluid{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.brand-hero{
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  max-height: 2.5rem;
}

.brand-container { 
  display: block;
  text-align: center;
  width: 100%;
}

.nav-content {
  flex: 1;
  display: flex !important;
  flex-direction: column;
  align-items: stretch;
  margin-top: 50px;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.nav-action {
  padding: 0.65rem 1.5rem;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.userAddress{
  padding: 0.65rem 1.5rem;
  display: flex;
  align-items: center;
  padding-left: 35px;
}
.nav-action-focus{
  color: rgba(0, 0, 0, 0.9);
}

.text-red {
  color: #cf3723 !important;
}

i {
  min-width: 2.25rem;
}

.content {
  padding-left: 40px;
  margin-left: 250px;
  position: relative;
  color: white;
}

.page-title {
  color: #fff !important;
  text-transform: uppercase !important;
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1.5;
}

#contentHead {
  padding: 1rem 0rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

form {
  text-align: center;
}

input {
  text-align: center;
  border: 0px;
  border-bottom: 1px white solid;
  background: transparent;
  color: var(--text-color);
  font-size: x-large;
  margin-bottom: 20px;
}

label{
  color: var(--main-theme-color);
  font-size: smaller;
}

.btn-positive {
  margin: 5px;
  background-color: white;
  color: #ad0000;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 30px;
  height: 30;
  border: 2px solid white;
  cursor: pointer;
  text-transform: uppercase !important;
}